:root {
    --border-color: #5d5247;
    --accent-color: #978a7b;
    --background-color: #f4f4f4;
    --button-bg-color: #fff8f0;
    --button-hover-bg-color: #c1b09e;
    --button-text-color: #5d5247;
    --shadow-color: rgb(112 103 93 / 72%);
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--shadow-color);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
}
.logo {
    border: 9px solid var(--border-color);
    max-width: 15rem;
    align-self: center;
}

.container-title {
    background: #E0D6B4;
    color: #1a1a2e;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: -15px;
    left: 15px;
    border: 3px solid #03070C;
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: 5px 14px;
    border-radius: 12px;
    border: 2px solid var(--border-color);
}

#quiz-api-providers-container {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 4px;
    flex-direction: column;
    max-height: 12em;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);
    box-shadow: 0 2px 8px var(--shadow-color);
}

#quiz-api-providers-inner-container {
    margin-top: 5px;
    padding: 5px;
}

#quiz-api-providers-buttons {
    display: flex;
    gap: 4px;
    margin-top: 10px;
    flex-direction: column;
    overflow-x: scroll;
    max-height: 10em;
    flex-wrap: nowrap;
}

.quiz-api-providers-button,
.ai-api-providers-button {
    margin: 5px;
    padding: 10px 15px;
    border: 2px solid var(--border-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.15s ease;
    transform-origin: center;
}

.quiz-api-providers-button:hover,
.ai-api-providers-button {
    background-color: var(--button-hover-bg-color);
    color: white;
}

.quiz-api-providers-button.selected,
.ai-api-providers-button.selected {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--border-color);
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 73%);
    pointer-events: none;
}

.quiz-api-providers-button:active,
.ai-api-providers-button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 2px 0px rgb(181 165 149 / 59%);
}

.quiz-api-providers-button:disabled,
.ai-api-providers-button:disabled {
    background-color: var(--button-hover-bg-color);
    color: white;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}

#ai-api-providers-container {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 4px;
    flex-direction: column;
    max-height: 12em;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);
    box-shadow: 0 2px 8px var(--shadow-color);
}

#ai-api-providers-inner-container {
    margin-top: 5px;
    padding: 5px;
}

#ai-api-providers-buttons {
    display: flex;
    gap: 4px;
    margin-top: 10px;
    flex-direction: column;
    overflow-x: scroll;
    max-height: 10em;
    flex-wrap: nowrap;
}

.start-button {
    display: inline-block;
    margin: 10px;
    padding: 7px 20px;
    font-size: 16px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    align-self: center;
    box-shadow: 3px 3px 3px 0px rgb(181 165 149 / 59%);
    transition: all 0.15s ease;
    transform-origin: center;
}

.start-button:hover {
    background-color: var(--button-hover-bg-color);
    color: white;
}

.start-button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 2px 0px rgb(181 165 149 / 59%);
    background-color: #218838;
}

.start-button:hover {
    background-color: #218838;
}


@media (min-width: 600px) {
    .button-container {
        flex-direction: row;
        justify-content: center;
    }

    button {
        margin: 10px;
    }
}